@{
    ViewData["Title"] = "Panel pracownika";
}

<h2>Panel pracownika</h2>

@if (TempData["success"] != null)
{
    <div class="alert alert-success">@TempData["success"]</div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">@TempData["error"]</div>
}

@if (ViewBag.HasStartedWork)
{
    <form method="post" asp-action="EndWork">
        <button class="btn btn-danger btn-lg">Zakończ pracę</button>
    </form>
}
else
{
    <form method="post" asp-action="StartWork">
        <button class="btn btn-success btn-lg">Rozpocznij pracę</button>
    </form>
}

<div style="margin-bottom:1%;">
    <a class="btn btn-primary mt-3" asp-action="History">Historia wpisów</a>
    <a class="btn btn-secondary mt-3" asp-action="Summary">Podsumowanie miesiąca</a>
</div>

<a asp-action="LeaveRequest" class="btn btn-warning">
    Złóż wniosek urlopowy
</a>

<hr />

<h3>Kalendarz urlopów</h3>

<div id="calendar"></div>


<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'pl',
            height: 650,

            events: '/Employee/GetLeavesForCalendar'
        });

        calendar.render();
    });
</script>
